<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ona api | Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("partials/Nav.ejs") %>
        <div class="container">
            <h1>ONA users api</h1>
            <div class="wrapper">
            </div>
        </div>
        <div class="container">
            <p class="message">
                This page makes a fetch request to:
                <a
                    href="https://api.ona.io/api/v1/profiles?format=json&users=alice%2Cbob%2Ccharlene">link</a>
            </p>
            <p class="message">
                Api server has restrictive "Access Control Allow Origin".
                Browser returns
                CORS policy error.
            </p>
            <p class="message">
                I have re-implemented the same api request through the server
                see <a href="/users">Users</a> link
            </p>
            <p class="message">
                Code for this App is available on github: <a
                    href="https://github.com/dkibui/ONA_users_api">link</a> or
                "https://github.com/dkibui/ONA_users_api"
            </p>
        </div>
        <script src="js/api.js">
        </script>
</body>

</html>